.label{
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.select{
    margin-left: 10px;
    padding: 4px 15px;
    background: var(--bg-10);
    border: 1px solid var(--bg-1);
    color: aliceblue;
}

.container{
    padding: 20px;
    display: grid;
    border: 3px solid gray;
    border-radius: 20px;
    grid-gap: 15px;
    margin-top: 20px;
    background: #0000005b;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.singleEditor{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}

.button{
    background: #000;
    padding: 10px 30px;
    margin-right: 40px;
    
}


.disableFilm{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.5;
    width: 100%;
    border-radius: 20px;
    background: #000;
}
.secondaryOption{
    display: flex;
}