.label{
    width: 120px;
    display: inline-block;
}
.select{
    margin-left: 10px;
    padding: 4px 15px;
    background: var(--bg-10);
    border: 1px solid var(--bg-1);
    color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
    height: 100%;
    /* padding: 15px 0; */
    scale: 0.87;
    justify-content: space-around;
}
.input{
    margin-left: 10px;
    background: var(--bg-10);
    border: 1px solid var(--bg-1);
    padding: 4px 15px;
}