
.select{
    margin-left: 10px;
    padding: 4px 15px;
    background: var(--bg-10);
    border: 1px solid var(--bg-1);
    color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
    height: 100%;
    scale: 0.87;
    justify-content: space-around;
}
.input{
    background: var(--bg-10);
    border: 1px solid var(--bg-1);
    padding: 4px 15px;
}

.editorContainer{
    display: grid;
    grid-gap: 10px;
    padding: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.label{
    min-width: max-content;
}

.singleOption{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}